*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --white: #ffffff;
  --accent: #1d73ee;
  --gray: #7f818d;
  --font-family: 'Nunito';

  --ratio: 1.5;
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
}

body {
  font-family: var(--font-family);
}

/* UTILITIES */

.text-color\:white {
  color: var(--white);
}

.text-color\:black {
  color: var(--black);
}

.bg-color\:white {
  background-color: var(--white);
}

.bg-color\:black {
  background-color: var(--black);
}

.bg-color\:accent {
  background-color: var(--accent);
}

.font-size\:extra {
  font-size: var(--s2);
}

.font-size\:large {
  font-size: var(--s1);
}

.font-size\:medium {
  font-size: var(--s0);
}

.font-size\:small {
  font-size: var(--s-1);
}

.padding\:extra {
  padding: var(--s2);
}

.padding\:large {
  padding: var(--s1);
}

.padding\:medium {
  padding: var(--s0);
}

.padding\:small {
  padding: var(--s-1);
}

.font-weight\:bold {
  font-weight: bold;
}

.text-style\:label {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.display\:flex {
  display: flex;
}

.display\:flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap\:wrap {
  flex-wrap: wrap;
}

.flex-grow\:fit {
  flex-grow: 1;
}

.justify-content\:space-between {
  justify-content: space-between;
}

.justify-content\:flex-end {
  justify-content: flex-end;
}

.justify-content\:center {
  justify-content: center;
}

.align-items\:center {
  align-items: center;
}

.align-self\:flex-start {
  align-self: flex-start;
}

.border-radius {
  border-radius: 4px;
}

/* Taken from https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/* COMPONENTS */
.hero {
  background-image: url('dist/banner.png');
  background-size: cover;
}

.stack > * + * {
  margin-top: var(--s0);
}

.center {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.section {
  height: 30rem;
}

.btn {
  border-radius: 4px;
  background-color: var(--black);
  height: var(--s2);
  line-height: var(--s2);
  color: var(--white);
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  border: 0;
  font-family: var(--font-family);
}

.form {
  max-width: 30rem;
  width: 100%;
}

.form input {
  border: 0;
  margin: 0;
  width: 100%;
}
